<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>history</title>
</head>
<body>
    <%- include("partials/nav") %>
    <h2>Our History</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Iure illo voluptatem asperiores ut esse odio modi expedita qui neque facilis dolorem itaque in nihil, a iusto quis consequatur sed nesciunt.    </p>
    </body>
</html>